[submodule "Packages/VLiveKit_LiveToon"]
	path = Packages/VLiveKit_LiveToon
	url = https://github.com/toshi-kundesu/VLiveKit_LiveToon.git
[submodule "Packages/VLiveKit_camera"]
	path = Packages/VLiveKit_camera
	url = https://github.com/toshi-kundesu/VLiveKit_camera.git
[submodule "Packages/VLiveKit_LiveLensFilters"]
	path = Packages/VLiveKit_LiveLensFilters
	url = https://github.com/toshi-kundesu/VLiveKit_LiveLensFilters.git
[submodule "Packages/VLiveKit_LEDVision"]
	path = Packages/VLiveKit_LEDVision
	url = https://github.com/toshi-kundesu/VLiveKit_LEDVision.git
[submodule "Packages/Memo"]
	path = Packages/Memo
	url = https://github.com/toshi-kundesu/Memo.git
[submodule "Packages/VLiveKit_TestAssetsContainer"]
	path = Packages/VLiveKit_TestAssetsContainer
	url = https://github.com/toshi-kundesu/VLiveKit_TestAssetsContainer.git
